.sidebar{
	    background: #2b254e;
}
.sidebar .nav .nav-item .nav-link i.menu-icon{
	color: #ffffff;
}
.sidebar .nav .nav-item.active > .nav-link {
    background: #ffc000;
}
.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link:hover .menu-title {
    background: #2b254e;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
    background: #ffc100bd;
}
.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
	background: #2b254e;
}
.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title{
	background: #b48246;
}
#settings-trigger {
	background: #2b254e;
}
.settings-trigger2 {
  background: white !important;
}
.navbar .navbar-menu-wrapper {
  color: #2b254e;
}
.text-primary, .list-wrapper .completed .remove {
    color: #2b254e !important;
}
.footer a {
    color: #ffc100;
}
hr.subtitle {
    height: 3px !important;
    background-color: #2b254e;
}

hr.subsubtitle {
    height: 1px !important;
    background-color: #2b254e;
}

.vd_red{
    color: red;
}
.btn-primary, .wizard > .actions a {
    background-color: #f51a1a;
    border-color: #f51a1a;
}
.btn-primary, .wizard > .actions a, .btn-primary:hover, .wizard > .actions a:hover {
  /*
    box-shadow: 0 2px 2px 0 #fc7242, 0 3px 1px -2px #fc7242, 0 1px 5px 0 #fc7242;
    background-color: #f51a1a;
    border-color: red;
  */
    background-image: linear-gradient(177deg, #b17f4a, #212b4c) !important;
    background-repeat: repeat-x !important;
    border-radius: 60px;
    color: white!important;
    border-color: #b17f4a !important;
    font-weight: bold !important;  
}
.sweet-alert .sa-icon {
    margin: 28px auto !important;
}
.pagination .page-item.active .page-link, .jsgrid .jsgrid-pager .page-item.active .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a, .pagination .page-item:hover .page-link, .jsgrid .jsgrid-pager .page-item:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover .page-link, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover a, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover a, .pagination .page-item:focus .page-link, .jsgrid .jsgrid-pager .page-item:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus .page-link, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus a, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus a, .pagination .page-item:active .page-link, .jsgrid .jsgrid-pager .page-item:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:active .page-link, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active a, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-page:active a {
    background: #2b254e;
    border-color: #2b254e;
}
.sidebar .nav .nav-item .nav-link {
        color: #ffffff;
}
.btn-yimexico{
  color: #fff;
  background-color: #2b254e;
  border-color: #000000;
}

.btn-yimexico:hover {
  color: #fff;
  background-color: #343748;
  border-color: #2b254e;
}

.contenedor{
  border-radius: 15px;
  border-color: #2b254e;
  border-width: 2px;
  border-style: solid;
}
body{
  font-family: "Arial", "Calabri";
}
.card-body{
  background:url("logo_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed ; 
}
h3{
  color: #b57532;
}
h4{
  color: #b57532;
}
h5{
  color: #b57532;
}
.btn-dorado {
    color: #fff;
    background-color: #b57532;
    border-color: #b57532;
}
.requi{
  color:red;
}

