.barra_menu{
	display: none;
}

.firma_tipo_cliente{
	display: show;
}

@page  
{ 
    /* this affects the margin in the printer settings */ 
    margin: 14mm 5mm 30mm 3mm;
} 

@media print {  
	a[href]:before { 
		content: "("attr(href)")"; 
	} 
	a[href]:before { 
		display: none;
	} 
} 

#logo_men{
	display: none;
}